Repository urLink-DEV/urLink-frontend, pull requests merged in 2020-06, with the labels that each got.

#65 Feature/category tab
  .gitignore
  src/commons/apis/category.js
  src/components/category/CategoryAppBar.js
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistoryList.js
  src/components/category/CategoryTab.js
  src/components/category/styles/CategoryDrawer.js
  src/components/category/styles/CategoryTab.js
  src/components/modal.js
  src/containers/category/CategoryContainer.js
  src/containers/category/CategoryHistoryContainer.js
  src/pages/LoginSignup.scss
  src/pages/category/Category.scss
Labels: Front-Component, Front-Container

#68 Feature/history chrome & Feature/Drwawer
  package-lock.json
  public/popup.js
  src/commons/chromeApis/history.js
  src/commons/history.js
  src/components/category/CategoryAppBar.js
  src/components/category/CategoryCard.js
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistory.js
  src/components/category/CategoryHistoryDateTitle.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/CategoryHistoryList.js
  src/components/category/CategorySearchPopOver.js
  src/components/category/CategoryTab.js
  src/components/category/styles/CategoryAppBar.js
  src/components/category/styles/CategoryDrawer.js
  src/components/category/styles/CategoryHistory.js
  src/components/category/styles/CategoryHistoryDateTitle.js
  src/components/category/styles/CategoryHistoryDrawer.js
  src/components/category/styles/CategoryHistoryList.js
  src/components/category/styles/CategorySearchPopOver.js
  src/containers/category/CategoryContainer.js
  src/images/group-11.png
  src/images/group-11.svg
  src/images/group-17.png
  src/images/group-17.svg
  src/images/group-19.png
  src/images/group-19.svg
  src/images/link-copy.svg
  src/images/logo/logo128.png
  src/images/logo/logo16.png
  src/images/logo/logo24.png
  src/images/logo/logo32.png
  src/images/logo/logo64.png
  src/images/new-tab.svg
  src/images/search.svg
  src/pages/category/Category.scss
Labels: Front-Common, Front-Component, bug-fix, enhancement

#69 Feature/new tab config & popup
  public/background.js
  public/commons/api/category.js
  public/commons/api/link.js
  public/commons/http.js
  public/css/popup.css
  public/images/group-25.svg
  public/images/group-26.svg
  public/images/group-27.svg
  public/images/group-5.svg
  public/images/logo/logo128.png
  public/images/logo/logo16.png
  public/images/logo/logo24.png
  public/images/logo/logo32.png
  public/images/logo/logo64.png
  public/images/white.svg
  public/logo.png
  public/manifest.json
  public/popup.html
  public/popup/index.js
Labels: Front-Common, Front-Component, bug-fix, 기획

#71 Feature/category tab
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistory.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/CategoryTab.js
  src/components/category/styles/CategoryDrawer.js
  src/components/category/styles/CategoryHistoryDrawer.js
  src/components/modal.js
  src/images/move.png
Labels: Front-Component, bug-fix, enhancement, help wanted

#72 Feature/history drawer
  src/components/category/CategoryHistory.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/styles/CategoryHistory.js
  src/components/category/styles/CategoryHistoryDrawer.js
  src/components/modal.js
  src/images/logo/group-2.svg
  src/images/logo/group-3.svg
Labels: Front-Common, Front-Component

#73 Feature/API & Test
  src/commons/apis/alaram.js
  src/commons/apis/alarmSocket.js
  src/commons/apis/category.js
  src/commons/apis/link.js
  src/commons/apis/user.js
  src/commons/http.js
  src/commons/queryData.js
  src/commons/quryParam.js
  src/test/AlarmTest.js
  src/test/CategoryTest.js
  src/test/HistoryTest.js
  src/test/LinkTest.js
  src/test/MainTest.js
  src/test/WebSocketTest.js
Labels: Front-Common

#74 user, websocket, link API [U]
  src/commons/apis/alaram.js
  src/commons/apis/category.js
  src/commons/apis/link.js
  src/commons/apis/user.js
  src/commons/http.js
  src/commons/queryData.js
  src/test/AlarmTest.js
  src/test/CategoryTest.js
  src/test/LinkTest.js
  src/test/LoginTest.js
  src/test/WebSocketTest.js
Labels: Front-Common

#75 Hotfix/login, singup container & popup
  public/css/popup.css
  public/popup/index.js
  src/commons/apis/user.js
  src/containers/LoginContainer.js
  src/containers/SignupContainer.js
  src/pages/SignupPage.js
Labels: bug-fix, 기획

#76 Feature/category tab
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistory.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/CategoryTab.js
  src/components/category/styles/CategoryDrawer.js
  src/components/category/styles/CategoryTab.js
  src/containers/category/CategoryContainer.js
  src/images/star.svg
  src/pages/category/Category.scss
Labels: Front-Component, bug-fix, enhancement

#79 Hotfix/Bug Fix & AlarmSocket Add
  package-lock.json
  package.json
  public/background.js
  public/manifest.json
  src/App.js
  src/commons/apis/user.js
  src/commons/http.js
  src/components/category/CategoryAppBar.js
  src/components/modal.js
  src/components/popover/AlarmPopover.js
  src/containers/LoginContainer.js
  src/containers/SignupContainer.js
  src/containers/category/CategoryContainer.js
  src/images/main1.png
  src/images/main2.png
  src/images/main3.png
  src/images/main4.png
  src/images/main5.png
  src/images/mainBackground2.png
  src/images/mainLogo.png
  src/pages/GetStartPage.js
  src/pages/styles/GetstartPage.js
  src/pages/styles/swiper.scss
Labels: Front-Common, Front-Component, Front-Container, bug-fix

#80 Feature/history css reflow, repaint issue solve
  public/commons/api/category.js
  public/commons/api/link.js
  src/commons/apis/alaram.js
  src/commons/apis/category.js
  src/commons/apis/link.js
  src/commons/quryParam.js
  src/components/category/CategoryAppBar.js
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistory.js
  src/components/category/CategoryHistoryDateTitle.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/styles/CategoryHistory.js
  src/components/category/styles/CategoryHistoryDrawer.js
  src/containers/category/CategoryContainer.js
Labels: Front-Component, bug-fix, enhancement

#86 Feature/category tab
  src/commons/apis/category.js
  src/components/category/CategoryDrawer.js
  src/components/category/CategoryHistoryDrawer.js
  src/components/category/CategoryTab.js
  src/components/category/styles/CategoryTab.js
  src/containers/category/CategoryContainer.js
Labels: Front-Component, bug-fix, enhancement
